@viewport {
    width: device-width;
}

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
}

*::selection {
    color: #121212;
    background: #ededed;
}

*::-moz-selection {
    color: #121212;
    background: #ededed;
}

body {
    font-family: 'Fira Code', monospace, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ededed;
    background-color: #121212;
    line-height: 1.5;
    font-kerning: normal;
    /*width: 100%;*/
    /*max-width: 800px;*/
    /*margin: 0 auto;*/
    text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    font-feature-settings: "calt" 1, "kern" 1, "liga" 1;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a {
    color: inherit;
    margin-bottom: 1px;
    text-decoration: none;
}

a:focus {
    outline: 3px solid hsla(0, 0%, 93%, .6);
}

.content a {
    box-shadow: inset 0 -0.04em #121212,
    inset 0 -0.175em rgba(237, 237, 237, 0.275);
}

a:hover {
    margin-bottom: 0;
    cursor: hand;
    box-shadow: inset 0 -0.04em #121212,
    inset 0 -0.175em rgba(237, 237, 237, 0.7);
}

.content a::after {
    padding-left: .35ch;
    padding-right: .1ch;
    content: '↗';
}

.content a[href^="https://rosh.h4ck.me"]::after, a[href^="/"]::after, a[href^="./"]::after {
    content: '';
    padding: 0;
}

p {
    margin-bottom: 1px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header a:focus {
    outline: none;
    box-shadow: 0px 0px 0px 4px hsla(0, 0%, 93%, .6);
}


.content p, ul {
    padding-bottom: 1.4em;
}

.body {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: block;
    order: 1;
    overflow-y: hidden;
    margin: 2rem 2rem 2.5rem 2rem;
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 600;
}

.content {
    order: 2;
    flex: 1 1 auto;
    margin: 0 2rem 0 2rem;
}

.footer {
    order: 3;
    margin: 2.5rem 2rem 2rem 2rem;
    line-height: 1.5rem;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 4ch;
    text-indent: -4ch;
}

ul li:before {
    content: "--> ";
}

.progress {
    cursor: progress;
}

.content h2 {
    padding-top: 1em;
    padding-bottom: .3em;
}

.content h1 {
    padding-bottom: .3em;
}

code {
    display: flex;
    flex-direction: column;
}

code::after, code::before {
    content: '';
    display: block;
    left: 0;
    margin: 1em 0;
    overflow-x: hidden;
    width: 100%;
    height: 0px;
    border-bottom: 2px solid hsla(0, 0%, 93%, .6);
}

@media (min-width: 550px) {
    .floatLeft {
        float: left;
    }

    .floatRight {
        float: right;
    }
}
