@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Code&text=%F0%9F%A1%95');

@viewport {
    width: device-width;
}

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
}

*::selection {
    color: #121212;
    background: #ededed;
}

*::-moz-selection {
    color: #121212;
    background: #ededed;
}

body {
    font-family: 'Fira Code', monospace, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ededed;
    background-color: #121212;
    line-height: 1.5;
    font-kerning: normal;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    -moz-font-feature-settings: "calt"1, "kern"1, "liga"1;
    -ms-font-feature-settings: "calt"1, "kern"1, "liga"1;
    -o-font-feature-settings: "calt"1, "kern"1, "liga"1;
    -webkit-font-feature-settings: "calt"1, "kern"1, "liga"1;
    font-feature-settings: "calt"1, "kern"1, "liga"1;
    font-synthesis: none;
    unicode-range: U+00-7F, U+2197;
}

a {
    color: inherit;
    margin-bottom: 1px;
    text-decoration: none;
}

a:hover {
    margin-bottom: 0;
    border-bottom: 1px solid #ededed;
    cursor: hand;
}

.content a::after {
    content: ' 🡕';
}

p {
    margin-bottom: 1px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: block;
    order: 1;
    overflow: hidden;
    margin: 2rem 2rem 2.5rem 2rem;
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 600;
}

.content {
    order: 2;
    flex: 1 1 auto;
    margin: 0 2rem 0 2rem;
}

.content p, ul{
    padding-bottom: 1.4em;
}

.footer {
    order: 3;
    margin: 2.5rem 2rem 2rem 2rem;
    line-height: 1.5rem;
    width: inherit;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 4ch;
    text-indent: -4ch;
}

ul li:before {
    content: "--> ";
}

.progress {
    cursor: progress;
}

@media (min-width: 550px) {
    .floatLeft {
        float: left;
    }

    .floatRight {
        float: right;
    }
}
