html, body {
  max-width: 100%;
  overflow-x: hidden;
  transition: background-color .1s ease;
  -webkit-transition: background-color .1s ease;
  -moz-transition: background-color .1s ease;
  background-color: white;
  color: black;
}

.awk1 {
  background-color: black;
}

.awk2 {
  white-space: nowrap;
  color: white;
}

.head{
  margin: 0;
  width: 100%;
  font-family: 'Product Sans';
  font-weight: 400;
  font-size: 4vh;
  position: absolute;
  top: 1vh;
  left: 0;
  background-color: white;
  z-index: 100;
  transition: background-color .3s ease, color .3s ease;
  -webkit-transition: background-color .3s ease, color .3s ease;
  -moz-transition: background-color .3s ease, color .3s ease;
}

.invert {
  background-color: black;
  color: white;
  transition: background-color .3s ease, color .3s ease;
  -webkit-transition: background-color .3s ease, color .3s ease;
  -moz-transition: background-color .3s ease, color .3s ease;
}

.head span {
  top: 2vh;
  z-index: 250;
}

.head a {
  text-decoration: none;
}

.left {
  opacity: 0;
  position: absolute;
  opacity: 0;
  left: 2vw;
  cursor: pointer;
}

.right {
  position: absolute;
  opacity: 0;
  right: 2vw;
  cursor: pointer;
}

.vw {
  position: absolute;
  left: 15vw;
  top: 4vh;
  width: 70vw;
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0.8;
}

.line {
  stroke: black;
  stroke-width: 1vh;
}

@media (max-width:801px)  {
  .vw {
    width: 50vw;
    left: 25vw;
  }
}

@media (max-width:301px)  {
  .vw {
    opacity: 0;
  }
}

.title {
  position: relative;
  cursor: default;
}

.stuff {
  opacity: 0;
  position: relative;
  display: inline-block;
  font-size: 15vh;
  overflow: hidden;
  font-family: 'Product Sans';
  font-weight: bold;
  letter-spacing: -0.7vh;
  left: 1vw;
  transition: background-color .3s ease, color .3s ease;
  -webkit-transition: background-color .3s ease, color .3s ease;
  -moz-transition: background-color .3s ease, color .3s ease;
  z-index: 300;
}

.hover:hover, .reline:hover {
  background: black;
  color: white;
  transition: background-color .3s ease, color .3s ease;
  -webkit-transition: background-color .3s ease, color .3s ease;
  -moz-transition: background-color .3s ease, color .3s ease;
}

p::selection, .reline::selection, span::selection, br::selection {
  /* HACK: almost black */
  background-color: rgba(0, 0, 0, .99);
  color: white;
}

br::selection {
  background-color: rgba(0, 0, 0, .95);
  color: white;
}

.stuff::selection {
  background-color: rgba(255, 255, 255, .99);
  color: black;
}

.stuff:after {
  transform: scaleX(0);
  transform-origin: left;
  content: '';
  height: 2vh;
  width: 100%;
  display: block;
  background: black;
}

.unline, .reline {
  text-decoration: none;
  display: inline-block;
  color:black;
}

.unline:after, .reline:after {
  content: '';
  display: block;
  height: 3px;
}

.reline {
  margin: 0;
  transition: background-color .3s ease, color .3s ease;
  -webkit-transition: background-color .3s ease, color .3s ease;
  -moz-transition: background-color .3s ease, color .3s ease;
}

.unline:after{
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
  -webkit-transition: width .5s ease, background-color .5s ease;
  -moz-transition: width .5s ease, background-color .5s ease;
}

.reline:after{
  width: 100%;
  background: black;
}

.unline:hover:after {
  width: 100%;
  background: black;
}

p {
  position: relative;
  font-family: 'Product Sans';
  font-weight: 400;
  font-size: 3.5vh;
  left: 1vw;
  cursor: default;
}

a, span {
  font-size: 3.5vh;
}

.one {
  font-family: 'Product Sans';
  font-weight: 700;
  font-style: italic;
}

.two {
  font-family: 'Product Sans';
  font-weight: 400;
  font-style: italic;
}

.awkward {
  cursor: pointer;
}

.awkward:active ~ span {
  color: black;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
    background: #000;
    /* transform-origin: left; */
}

.full {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: white;
}

.inv {
  color: white;
  transition: background-color .3s ease, color .3s ease;
  -webkit-transition: background-color .3s ease, color .3s ease;
  -moz-transition: background-color .3s ease, color .3s ease;
}
.inv:hover {
  color: black;
  transition: background-color .3s ease, color .3s ease;
  -webkit-transition: background-color .3s ease, color .3s ease;
  -moz-transition: background-color .3s ease, color .3s ease;
}

#click {
  position: fixed;
  width: 5vh;
  height: 4vh;
  bottom: 0;
  right: 1vw;
  background: black;
  transform: scaleX(0);
  transform-origin: right;
  z-index: 330;
  cursor: pointer;
}

.ap {
  opacity: 0;
}

.alp:after {
  transform: scaleX(0);
}
