#overlay {
  background-color: black;
  z-index: 500;
  margin: 0;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

#spanner {
  opacity: 0;
}

.lds-ring {
  display: inline-block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 64px;
  height: 64px;
}

.zero {
  opacity: 0;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

/*animations*/

.vw-a {
  animation: grow cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
  animation-delay: 1.1s;
}

.left-a {
  animation: fade ease .4s forwards;
  animation-delay: 0.7s;
}

.right-a {
  animation: fade ease 0.4s forwards;
  animation-delay: 1.6s;
}

.stuff-a {
  animation: fade .4s ease forwards;
  animation-delay: 1.2s;
}

.stuff-a:after {
  animation: grow cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
  animation-delay: 1.3s;
}

.alp-a:after {
  transform-origin: left;
  animation: grow cubic-bezier(0.785, 0.135, 0.15, 0.86) .3s forwards;
}
.al1-a:after {
  animation-delay: 1.7s;
}
.al2-a:after {
  animation-delay: 1.8s;
}
.al3-a:after {
  animation-delay: 1.9s;
}
.al4-a:after {
  animation-delay: 2s;
}
.al5-a:after {
  animation-delay: 2.3s;
}
.al6-a:after {
  animation-delay: 2.2s;
}
.al7-a:after {
  animation-delay: 2.4s;
}

.ap-a {
  animation: fade .4s ease forwards;
}

.a1-a {
  animation-delay: 1.5s;
}
.a2-a {
  animation-delay: 1.6s;
}
.a3-a {
  animation-delay: 1.7s;
}
.a4-a {
  animation-delay: 1.8s;
}
.a5-a {
  animation-delay: 1.9s;
}
.a6-a {
  animation-delay: 2s;
}
.a7-a {
  animation-delay: 2.1s;
}

.click-a {
  animation: grow cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
  animation-delay: 2s;
}
