@font-face {
    font-family: ProductSans;
    src: url('https://cdn.rawgit.com/weakit/stuff/ec9437f7/fonts/psregular.woff');
}
@font-face {
    font-family: one;
    src: url('https://cdn.rawgit.com/weakit/stuff/ec9437f7/fonts/psbitalic.woff');
}
@font-face {
    font-family: two;
    src: url('https://cdn.rawgit.com/weakit/stuff/ec9437f7/fonts/psitalic.woff');
}
